{% extends 'base.html' %}

{% block content %}
<style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
<div class='post-entry'>
    <h2><strong>ID:</strong>{{ post.title }}</h2>
    <p><strong>Автор:</strong> {{ post.author }}</p>
    <table style ="width: 100%">
        <tr>
            <th>Номер вимірювання</th>
            <th>Текст</th>
            <th>Дата</th>
            <th>Температура</th>
            <th>Тиск, мм.р.ст.</th>
            <th>Швидкість вітру</th>
            <th>Ймовірність опадів</th>
        </tr>
     <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.data }}</td>
                <td>{{ post.temperature }}</td>
                <td>{{ post.pressure }}</td>
                <td>{{ post.speed }}</td>
                <td>{{ post.probability }}</td>
    </tr>
    </table>
</div>

{% endblock content%}