<!DOCTYPE html>
<html>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <body>
        <h2>Дошка атмосферних вимірювань</h2>

        <table style ="width: 100%">
            <tr>
                <th>id</th>
                <th>Текст</th>
                <th>Дата</th>
                <th>Температура</th>
                <th>Тиск, мм.р.ст.</th>
                <th>Швидкість вітру</th>
                <th>Ймовірність опадів</th>
            </tr>
            {% for post in post_list %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.data }}</td>
                <td>{{ post.temperature }}</td>
                <td>{{ post.pressure }}</td>
                <td>{{ post.speed }}</td>
                <td>{{ post.probability }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>